<div class="ui padded page grid">
  <div class="six wide column"> 
    <div class="ui segment">
      <div class="image">
        <img src="images/Pets.jpg" class="ui big image">
      </div>
    </div>
  </div>

  <div class="ten wide column">
    <div class="ui segment">
      <a class="ui blue ribbon label">
        Pet Information</a>
        <div class="ui card" style="width:100%;">
          <div class="content">
            <div class="header"><%=@listing.title%>
              <div class="right floated header">
                <i class="call icon">
                </i><%=listing.phone_no%>
              </div>
            </div>

            <div class="meta">Posted on <%=listing.created_at%></div>
            <div class="description">
              <p><%=@listing.love_for_pets</p>
              
            </div>
            <div class="ui divider"></div>
            <table class="ui definition table">
              <tbody>
                <tr>
                  <td class="two wide column">Type</td>
                  <td>Dog</td>
                </tr>
                <tr>
                  <td>Breed</td>
                  <td>German Shephard</td>
                </tr>
                <tr>
                  <td>Color</td>
                  <td>Brownish</td>
                </tr>
                <tr>
                  <td>Gender</td>
                  <td>Male</td>
                </tr>
              </tbody>
            </table>
            <div class="ui divider"></div>
            <div class="header">Price
              <div class="right floated header">Posted By
              </div>

            </div>
            <!--div class="meta"-->2500<i class="rupee icon"></i>
            <div class="right floated author">
              <img class="ui avatar image medium" src="images/mypic.jpg"> Vivek Nayyar
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>