<html>
<body>
    <!--p style="font-family:JustOldFashion;font-size:35px;valign:middle;">Welcome to PlanYour<span style="color:#0893cf;">Task</span>.com</p-->
    <div class="email_container" style="border:2px solid #eee;border-radius:5px;">
    <a><img src="http://i.imgur.com/6YG83d7.png?1" style="width:1050px;"/></a>
    <div style="background:#fff;padding:20px;">
        
        <h2>Thank you for creating an account!</h2>
        <P>Click the url below to activate your account!
        <%= @account_activation_url %></p>
        <p>If the above URL does not work try copying and pasting it into your browser. If you continue to have problem, please feel free to contact us.
        </p>
        <br>
        <p style="font-family:JustOldFashion;font-size:25px;valign:middle;">-Team PetsFor<span style="color:#0893cf;">Life</span>
        </p>
    </div>
    </div>

</body>
</html>
