<html>
<body>
<div class="email_container" style="border:2px solid #eee;border-radius:5px;">
    <div style="background:#fff;padding:20px;">
        <h2>Your account has been activated</h2>
        <p>
            Incase you have any queries,please feel free to contact us</p>
        </p>
        <p style="font-family:JustOldFashion;font-size:25px;valign:middle;">-Team Pet<span style="color:#0893cf;">Zoned</span>
        </p>
    </div>
</div>
</body>
</html>
 