<html>
<body>
<div class="email_container" style="border:2px solid #eee;border-radius:5px;">
    <a><img src="http://i.imgur.com/6YG83d7.png?1" style="width:1050px;"/></a>
    <div style="background:#fff;padding:20px;">
<!--p style="font-family:JustOldFashion;font-size:35px;valign:middle;">Welcome to PlanYour<span style="color:#0893cf;">Task</span>.com</p-->
        <h2>Your account has been activated</h2>
        <p>
            Incase you have any queries,please feel free to contact us</p>
        </p>
        <p style="font-family:JustOldFashion;font-size:25px;valign:middle;">-Team PetsFor<span style="color:#0893cf;">Life</span>
        </p>
    </div>
</div>
</body>
</html>
 