function petSelected() {
  pet_name = $('#listing_pet_type').val();
  options = document.getElementById('listing_breed_type').options;
  options.length = 1;
  for(var i=0;i<breeds.length;i++)
  {
    if (breeds[i][0] == pet_name) {
      options[options.length] = new Option(breeds[i][1], breeds[i][2]);
    }
  };
  if (options.length == 1) {
    $('.breed_type').addClass('disabled');
  } else {
    $('.breed_type').removeClass('disabled')
  }
}
$(document).ready(function() {  
 $('.pet_type').change(function(){
    $('.breed_type').dropdown('restore defaults');
    petSelected();
  });
  $('.filter').click(function(){
    $('.ui.dropdown').dropdown('restore defaults');
  });

  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;
      // an array that will be populated with substring matches
      matches = [];
      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');
      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push(str);
        }
      });

      cb(matches);
    };
  };
  $('#breed_search').typeahead({
     minLength: 1,
      highlight: true,
      hint: true
  }, {
      name: 'engine',
      source: substringMatcher(breeds),
      templates: {
          empty: [
            '<div class="empty-message" style="padding:0px 5px;">',
              'Unable to find any breed matching the current query',
            '</div>'
          ].join('\n')
      }
  });
});