

/*******************************
            Global
*******************************/

html {
  font-size: 14px;
}


/*******************************
            Global
*******************************/

#home .menu .right.menu > .mobile.item {
  display: none;
}


/*--------------
    Masthead
---------------*/

#home .masthead {
  background-image: url(image-path(concrete_seamless.png));
  //background-image:linear-gradient(0deg, rgba(255,255,255,.2),rgba(255,255,255,.2)),url('pets.png');
  margin: 0em;
  padding: 0rem 0rem 3rem 0rem;
}
#home .masthead .column {
  position: relative;
}
#home .masthead .information {
  margin: 5em 1em 1em 600px;
}
#home .masthead .information p {
  max-width: 600px;
}
#home .masthead .image {
  position: absolute;
  //left: -22%;
  bottom: 55px;
}

/*--------------
    Ribbons
---------------*/

#home .segment h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

#home .vertical.segment {
  padding: 12rem 0rem;
}

#home .feature.segment {
  margin: 0em;
  padding: 6rem 0rem;
}
#home .feature.segment p {
  min-height: 50px;
}

#home .selection.list {
  margin: 0em -0.5em;
}

#home .logo.row {
  height: 10rem;
}

/*--------------
    Footer
---------------*/

#home .footer.segment {
  background-color: #000000;
  padding: 3rem 0rem;
}





/*******************************
          Responsive
*******************************/

/* Mobile Only */
@media only screen and (max-width : 768px) {

  #home .menu .right.menu > .item {
    display: none;
  }

  #home .menu .right.menu > .mobile.item {
    display: block;
  }
  #home .menu .right.menu > .mobile.item .menu {
    left: auto;
    right: 0em;
  }

  #home h1 {
    font-size: 1.5em;
  }
  #home .masthead.segment .information {
    margin-left: 170px;
  }

  #home .masthead.segment .image {
    width: 170px;
    left:0%;

  }

  #home .masthead.segment .button {
    font-size: 1rem;
  }

  #home .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  #home .overview .divided.grid .header + p {
    min-height: 0px;
  }

  #home .masthead.segment .column {
    font-size: 0.7rem;
  }

  #home .masthead.segment .column p {
    display: none;
  }

  #home .selection.list .right.floated {
    display: none;
  }
  .displayClass
  {
    right:0rem;
  }

  
}
@media only screen and (max-width :400px){
  #home .masthead.segment .information {
    margin-left: 0px;
  }
  #home .masthead .image{
    bottom:0px !important;
    width:100% !important;
    max-width:100% !important;
    position: static;
  }
}


/*my styles*/
/*increase the size of size box to match with other form fields*/
.ui.small.input
{
  font-size: 0.985rem;
}
.mygrid
{
  padding-left:10%;
  padding-right:0%;
}
#home .tabmenu
{
  padding:2% 15%; 
}

.column .filter
{
  padding:2%;
}

.ui.medium.image
{
  max-height:169px;
}

img.ui.medium.image.list_image
{
  height:167px !important;
  border: 1px solid rgba(0, 0, 0, 0.13);
  width:100% !important;
}

.left.floated.like
{
  margin-top:8px;
}

.ui.header
{
  padding:0rem 0.5rem;
}

.ui.menu
{
  margin:0rem 0rem 1rem 0rem;
}
.list_image
{
  margin: auto;
  border-radius:0px;
}

.ui.ribbon.listing_price{
  bottom:15px;
}

.ui.cards > .card{
  //margin-left:1em !important;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pet_love > p{
  word-wrap:break-word;
}


.bx-wrapper .bx-viewport
{
  height:200px;
}
.ui.menu
{
  margin:0rem 0rem 1rem 0rem;
}

.ui.divided.items > .item {
  border-top: 1px solid rgba(39, 41, 43, 0.15);
  margin-bottom: 1em !important;
  padding: 1em 2.5em !important;
  background-color: #ffffff;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.2857rem;
  height:200px !important;
}

.ui.divided.items > .item:first-child {
  
  padding-top: 2em !important; 
}
.ui.divided.items > .item:last-child {
  margin-bottom: 1em !important;
  padding-bottom: 2em !important;
}


@media only screen and (max-width: 767px)
{
  .ui.items > .item > .image + .content 
  {
    display: block;
    padding: 1.5em 1em 0em;
  }
}
@media only screen and (max-width: 767px)
{
  .ui.items > .item > .image, .ui.items > .item > .image > img 
  {
    margin:0 auto;
  }
  .general_class{
    display: none !important;
  }
  .view_types{
    display: none !important;
  }
  .ui.cards > .card, .ui.card{
    margin-left:0px !important;
  }
  #home .tabmenu{
    padding:3% 0% 7% !important;

  }

}
.show_image
{
  margin:0 auto;
}
.ui.items .item .listing_price
{
  padding:0em 1em 0em;
}
.ui.items > .item > .listing_content
{
  padding-top:1em;
}
@media only screen and (max-width: 460px)
{
  .ui.items > .item .extra > *
  {
    margin: 0.25rem 0.5rem 0.25rem 3em;
  }
}
@media only screen and (max-width: 460px)
{
  .ui.items {
    margin: 3.5em 3.5em !important;
  }
}
@media only screen and (max-width: 460px)
{
  .ui.divided.items > .item 
  {
    padding: 2em 0.5em !important;
  }
}

.ui.form .error.message{
  display: block !important;
}

.general_class
{
  padding:2em !important;
  margin: 1.5em 6em !important;
}



.ui.four.cards > .card{
  float:left !important;
}
.ui.items > .item > .content > .description{
  color: rgba(0, 0, 0, 0.62) !important;
}
.small_cards .pet_love > p{
    height:150px !important;
  }



.next{
  //margin-left:25px; 
  padding:8px 10px; height:40px; 
  cursor:pointer; 
  background-color:#000000; 
  color:#FFFFFF; 
  position:absolute; 
  right:0px;
  top:40%;
}
.prev{
  //margin-right:25px; 
  padding:8px 10px; 
  height:40px; 
  cursor:pointer; 
  background-color:#000000; 
  color:#FFFFFF; 
  position:absolute; 
  display: none;
  left:0px;
  top:40%;
}

.clear{
  clear:both;
}
.imageDisplay{
  margin:0 auto; 
  position:relative;
}

.space{
  height:30px; 
  width:100%; 
  clear:both;
}

.buttons{height:30px; margin-top:15px;}

.active_show_image{
  display: block !important;
}

.show_image{
  min-height: 169px !important;
}

.center.aligned.ui.header{
  padding-bottom:5px;
}
.most_popular_listings{
  margin:20px auto 50px;
}
.listing_heading {
  color: #4A4A4A;
  display: inline-block;
  font-size: 24px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 3px solid #CC5251;
}
.listing_title{
  display: inline-block;
  margin-bottom: 10px;
}
.listing_title .header{
  font-size: 20px;
  font-weight: bold;
  color: #636766;
  text-transform: uppercase;
  text-decoration: none;
}
.small_card_content > .star{
  top:-4px;
  position: relative;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(image-path(preloader.gif)) center no-repeat #fff;
}






