

/*******************************
            Global
*******************************/

html {
  font-size: 14px;
}


/*******************************
            Global
*******************************/

#home .menu .right.menu > .mobile.item {
  display: none;
}


/*--------------
    Masthead
---------------*/

#home .masthead {
   // background-image: url(image_path('concrete_seamless.png'));
  background-image: url(image_path('bg1.jpg'));
  
  //background-image:linear-gradient(0deg, rgba(255,255,255,.2),rgba(255,255,255,.2)),url('pets.png');
  margin: 0em;
  padding: 0rem 0rem 3rem 0rem;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height:500px;
  background-color: rgba(55, 41, 41, 0.53);
  background-blend-mode: overlay;
}
#home .masthead .column {
  position: relative;
}
#home .masthead .information {
  //margin: 5em 1em 1em 600px;
  margin: 15em auto 1em;
  padding: 0em 15em;
}
#home .masthead .information p {
  max-width: 600px;
}
#home .masthead .image {
  position: absolute;
  //left: -22%;
  bottom: 55px;
}

/*--------------
    Ribbons
---------------*/

#home .segment h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

#home .vertical.segment {
  padding: 12rem 0rem;
}

#home .feature.segment {
  margin: 0em;
  padding: 6rem 0rem;
}
#home .feature.segment p {
  min-height: 50px;
}

#home .selection.list {
  margin: 0em -0.5em;
}

#home .logo.row {
  height: 10rem;
}

/*--------------
    Footer
---------------*/

#home .footer.segment {
  background-color: #000000;
  padding: 3rem 0rem;
}





/*******************************
          Responsive
*******************************/

/* Mobile Only */
@media only screen and (max-width : 768px) {

  #home .menu .right.menu > .item {
    display: none;
  }

  #home .menu .right.menu > .mobile.item {
    display: block;
  }
  #home .menu .right.menu > .mobile.item .menu {
    left: auto;
    right: 0em;
    background: #fff !important;
  }

  #home h1 {
    font-size: 1.5em;
  }
  #home .masthead.segment{
    height: 500px;
  }
  #home .masthead.segment .information {
    //margin-left: 170px;
    margin: 0px;
    padding: 0px;
  }

  #home .masthead.segment .image {
    width: 170px;
    left:0%;

  }

  #home .masthead.segment .button {
    font-size: 1rem;
  }

  #home .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  #home .overview .divided.grid .header + p {
    min-height: 0px;
  }

  #home .masthead.segment .column {
    font-size: 0.7rem;
  }

  #home .masthead.segment .column p {
    display: none;
  }

  #home .selection.list .right.floated {
    display: none;
  }
  .displayClass
  {
    right:0rem;
  }
  .petzoned_logo{
    margin: -3em 2em !important;
    .logo_image{
      position: relative !important;
      // right: 7vw !important;
      width: 86vw !important;
      bottom: -9vw !important;
      margin:0px !important;
    }
  }
  #user_show_profile{
    display: table;
    #profile_card{
      display: table-cell;
    }
  }

  #small_cards{
    margin-left:-15px;
  }
  #breed_search_field{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  #home #home_page_search_btn{
    margin-left: 28%;
    margin-right: 28%;
  }
}
@media only screen and (max-width :400px){
  #home .masthead.segment .information {
    margin-left: 0px;
  }
  #home .masthead .image{
    bottom:0px !important;
    width:100% !important;
    max-width:100% !important;
    position: static;
  }
}


/*my styles*/
/*increase the size of size box to match with other form fields*/
.ui.small.input
{
  font-size: 0.985rem;
}
.mygrid
{
  padding-left:10%;
  padding-right:0%;
}
#home .tabmenu
{
  padding:2% 15%; 
}

.column .filter
{
  padding:2%;
}

.ui.medium.image
{
  max-height:169px;
}

img.ui.medium.image.list_image
{
  height:167px !important;
  border: 1px solid rgba(0, 0, 0, 0.13);
  width:100% !important;
}

.left.floated.like
{
  margin-top:8px;
}

.ui.header
{
  padding:0rem 0.5rem;
}

.ui.menu
{
  margin:0rem 0rem 1rem 0rem;
}
.list_image
{
  margin: auto;
  border-radius:0px;
}

.ui.ribbon.listing_price{
  bottom:15px;
}

.ui.cards > .card{
  //margin-left:1em !important;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pet_love > p{
  word-wrap:break-word;
}


.bx-wrapper .bx-viewport
{
  height:200px;
}
.ui.menu
{
  margin:0rem 0rem 1rem 0rem;
}

.ui.divided.items > .item {
  border-top: 1px solid rgba(39, 41, 43, 0.15);
  margin-bottom: 1em !important;
  padding: 1em 2.5em !important;
  background-color: #ffffff;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.2857rem;
  height:200px !important;
}

.ui.divided.items > .item:first-child {
  
  padding-top: 2em !important; 
}
.ui.divided.items > .item:last-child {
  margin-bottom: 1em !important;
  padding-bottom: 2em !important;
}


@media only screen and (max-width: 767px)
{
  .ui.items > .item > .image + .content 
  {
    display: block;
    padding: 1.5em 1em 0em;
  }
}
@media only screen and (max-width: 767px)
{
  .ui.items > .item > .image, .ui.items > .item > .image > img 
  {
    margin:0 auto;
  }
  .general_class{
    display: none !important;
  }
  .view_types{
    display: none !important;
  }
  .ui.cards > .small_cards, .ui.card{
    margin-left:0px !important;
  }
  #home .tabmenu{
    padding:3% 0% 7% !important;

  }

}
.show_image
{
  margin:0 auto;
  img{
    max-height: 250px !important;
  }
}

.ui.items .item .listing_price
{
  padding:0em 1em 0em;
}
.ui.items > .item > .listing_content
{
  padding-top:1em;
}
@media only screen and (max-width: 460px)
{
  .ui.items > .item .extra > *
  {
    margin: 0.25rem 0.5rem 0.25rem 3em;
  }
}
@media only screen and (max-width: 460px)
{
  .ui.items {
    margin: 3.5em 3.5em !important;
  }
}
@media only screen and (max-width: 460px)
{
  .ui.divided.items > .item 
  {
    padding: 2em 0.5em !important;
  }
}

.ui.form .error.message{
  display: block !important;
}

.general_class
{
  padding:2em !important;
  margin: 1.5em 6em !important;
}



.ui.four.cards > .card{
  float:left !important;
}
.ui.three.cards > .card{
  float:left !important;
}
.ui.items > .item > .content > .description{
  color: rgba(0, 0, 0, 0.62) !important;
}
.small_cards .pet_love > p{
    height:100px !important;
    overflow: hidden;
  }



.next{
  //margin-left:25px; 
  padding:8px 10px; height:40px; 
  cursor:pointer; 
  background-color:#000000; 
  color:#FFFFFF; 
  position:absolute; 
  right:0px;
  top:40%;
}
.prev{
  //margin-right:25px; 
  padding:8px 10px; 
  height:40px; 
  cursor:pointer; 
  background-color:#000000; 
  color:#FFFFFF; 
  position:absolute; 
  display: none;
  left:0px;
  top:40%;
}

.clear{
  clear:both;
}
.imageDisplay{
  margin:0 auto; 
  position:relative;
}

.space{
  height:30px; 
  width:100%; 
  clear:both;
}

.buttons{height:30px; margin-top:15px;}

.active_show_image{
  display: block !important;
}

.show_image{
  min-height: 169px !important;
}

.center.aligned.ui.header{
  padding-bottom:5px;
}
.most_popular_listings{
  margin:20px auto 50px;
}
.listing_heading {
  color: #4A4A4A;
  display: inline-block;
  font-size: 24px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 3px solid #CC5251;
}
.listing_title{
  display: inline-block;
  margin-bottom: 10px;
}
.listing_title .header{
  font-size: 20px;
  font-weight: bold;
  color: #636766;
  text-transform: uppercase;
  text-decoration: none;
}
.small_card_content > .star{
  top:-4px;
  position: relative;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(image_path('preloader.gif')) center no-repeat #fff;
}

.ui.menu{
  margin-top:0em !important;
  // background: none !important;
}
.right.menu .item{
  padding:10px 20px !important;
}

.ui.footer.vertical.segment{
  bottom: 0px;
  width: 100%;
}
.ui.special.cards{
  padding:20px;
}

/* ================ */
.tt-menu {
  width: 100%;
  min-width: 160px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  // -webkit-border-radius: 6px;
  // -moz-border-radius: 6px;
  // border-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  max-height:140px;
  overflow-y:auto;
}
.tt-suggestion {
  display: block;
  padding: 6px 20px;
}
.tt-suggestion.tt-cursor,.tt-suggestion:hover{
// .tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.tt-suggestion.tt-cursor a {
  color: #fff;
}
.tt-suggestion p {
  margin: 0;
}
.twitter-typeahead {
  width: 100%;

}
.pagination {
  margin: 1em 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  background: #fff;
  font-weight: 400;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  border-radius: .28571429rem;
  min-height: 2.85714286em;
  margin: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  font-size: 1rem;
}
.pagination *{
  padding-top: .92857143em;
  background-color: rgba(0,0,0,.05);
  color: rgba(0,0,0,.95);
  box-shadow: none;
  min-width: 3em;
  text-align: center;
  background: rgba(0,0,0,.05);
  color: rgba(0,0,0,.95);
  font-weight: 400;
  box-shadow: none;
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: 0 0;
  padding: .92857143em 1.14285714em;
  text-transform: none;
  color: rgba(0,0,0,.87);
  font-weight: 400;
  -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
  transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}
.pagination *:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background: rgba(34,36,38,.1);
}
.grid .vk_icons{
  position: relative;
  top:-6px;
}
.listview .vk_icons{
  position: relative;
  top:-2px;
}
.trash.icon:hover{
  cursor: pointer;
}
.ui.image.dimmable{
  width:50% !important;
  margin:0 auto;
}
.creator_name{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.social_share{
  width:100%;
  margin-bottom: 15px !important;
}
#home .masthead.segment > .ui.inverted.menu{
  background: none;
  padding-top:10px;
}

.ui.form .field > #home_label{
  color: rgba(239, 231, 229, 0.8);
  font-size: 1.9285em;
}
.right.menu a:nth-child(2){
  border:2px solid;
  border-radius: 2px
}
.petzoned_logo{
  // margin:0em 15em;
  margin: 0% 24%;
  .logo_image{
    position: absolute;
    // right: 25vw;
    width: 35vw;
    bottom: 3vw;
    // max-width: 100%;
  }
}
.city_color_age{
  // height:50px;
}
.dimmer{
  height:100% !important;
}
.horizontal_description{
  min-height: 70px;
}
.price_label{
  position: absolute !important;
  margin-left: 1em !important;
}
#breed_search_field{
  margin-left:8em;
  margin-right: 8em;
}
#home_page_search_btn{
  margin-left: 26em;
  margin-right: 26em;

}




