<div class="ui footer segment">
  <div class="ui stackable center aligned page grid">
    <div class="ten wide column">
      <div class="ui two column center aligned stackable grid">
        <div class="column">
          <h5 class="ui inverted header">About Us</h5>
          <div class="ui segment">
            We are a group of young enthusiasts who share the same love for animals. All of us need love right? Be it in any form. We here at Petzoned aim to find you a pet buddy! So all of you out there looking for lovely pets for your lovely homes, and also the ones searching for lovely homes for their lovely pets, get up and start Petzoning. Its time to get PETZONED! <br>
            P.S. Help us spread the word!! Thank you! :D
          </div>
        </div>
        <div class="column">
          <h5 class="ui inverted header">Links</h5>
          <div class="ui inverted link list">
            <a href="https://www.facebook.com/petzoned" class="item">
                  <div class="ui facebook button">
                      <i class="facebook icon"></i>
                      Facebook
                  </div>
            </a>
            <a href="https://twitter.com/PetZoned" class="item">
               <div class="ui twitter button">
                  <i class="twitter icon"></i>
                  Twitter
                </div>
            </a>
            <a class="item" href="http://goo.gl/forms/oXm0bvLWW6">Feedback</a>
          </div>
        </div>
      </div>
    </div>
    <div class="six wide column contact_us">
      
      <div class="ui two column grid">
      <h5 class="ui inverted centered header">Contact Us</h5>
      <div class="column">
        <p>
          Vivek Nayyar <br>
          vivekn@petzoned.com <br>
          7350152765
        </p>
      </div>
      <div class="column">
        <p>
          Rohit Sonawane<br>
          rseminem@petzoned.com <br>
          9619732977
        </p>
      </div>
    </div>
  </div>
</div>