<div class="ui inverted blue menu">
  <div class="header item">PetsForLife</div>
  <div class="right menu">
    <div class="ui mobile dropdown link item">
      Menu
      <i class="dropdown icon"></i>
      <div class="ui vertical menu">

        <%=link_to 'Create Listing',new_listing_path,class:"active teal item"%>
          
      
        <a class="item">
          Login
          
        </a>
        <a class="item">
          Register
          
        </a>

      </div>
    </div>
    <%=link_to 'Create Listing',new_listing_path,class:'item'%>
    <a class="item">Login</a>
    <a class="item">Signup</a>
  </div>
</div>
