<div class="ui page grid tabmenu">
    <div class="ui secondary pointing filter menu">
        <!--a class="blue item" data-tab="saved">Saved</a-->
        <a class="active green item" data-tab="all">All</a>
        <a class="red item" data-tab="favorite">Favorite</a>
        <a class="blue item" data-tab="user_listing">Your Listings</a>
        <a class="right floated list-icon blue item view_types" ng-class="{active: layout == 'listview'}" ng-click="layout = 'listview'"><i class="list layout icon"></i></a>
        <a class="right floated grid-icon teal item view_types" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"><i class="block layout icon"></i></a>
    </div>
</div>